# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 9d340d6ebb497eb1c4bda3584ae78613be35c2b8241fda686cdb1e6d8f4e7e75a8de532fdfeb59afa07ed947c92ae957c219fcba6ae01f5610ba5a956507b184

test:
  secret_key_base: e0b0f66226d3f33b9e4e1bd73c9d926b968a7e7cdfdd1e8db0c6cd8fd89ed950c3e6f19270f81c80720ffe98db4f9d9d7682f418c893ae9e55bfbc3e83a50c18

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
