<p id="notice"><%= notice %></p>

<div class="cards">
  <%= render partial: 'cards/cards', locals: { cards: @cards.order("cards.total_cards_in_series ASC, cards.edition_id ASC, cards.player_id DESC, id ASC").page(params[:page])} %>
</div>
