/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "bootstrap-table";

html { background:#efefef; font-family:Arial, Verdana, sans-serif; font-size:13px; }
body { padding:10; margin:10; }
div.canvas {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
// Get rid of stupid arrows bg image
.fixed-table-container thead th .desc {
  background-image: url("");
}
.fixed-table-container thead th .asc {
  background-image: url("");
}
